<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logon</title>
  <link rel="stylesheet" href="./styles/logon.css">
</head>

<body>
  <div class="" id="heading">
      <h1>Error 😔</h1>
  </div>

  <div class="box" id="service-list">
      <p>
        <%= locals.error %>
      </p>
  </div>

  

  
  <script>
    
  </script>
  <footer>Copyright © Simapps Solution <%= new Date().getFullYear() %></footer>
</body>

</html>